.footer{
    background-color: rgba(14, 29, 40, 1);
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding-top: 60px;
    margin-top: 0;
    padding-left: 30px;
}
.footer ul li{
    color: #ffff;
    list-style-type: none;
    font-family: Lato;
font-style: normal;
font-weight: 500px;
font-size: 16px;
line-height: 24px;
}
.footer ul li:hover{
    color: rgba(27, 125, 255, 1);
    text-decoration: underline;
}

.footer h1{
    color: rgba(27, 125, 255, 1);
}
.footer-list{
    display: flex;
    justify-content: space-between;
}
.footer ul{
    padding-right: 80px;
}
@media (max-width: 480px){
    .footer{
        padding-left: 2px;
    }
    .footer ul{
        padding-right: 3px;
    }
}