body {
  background-color: #F2F2F2;
  margin: 0;
  overflow-x: hidden;
}
.header{
  background-image: url('./image/Bimage.png') ;
  height: 100vh;
  filter: drop-shadow(0px 4px 4px #006DFE);
  box-shadow: rgba(0, 109, 254, 1);
  height: 989px;
  left: -28px;
  top: 0px;


}
.header Section{
 background-color: #F2F2F2;
}
